/*
filename: [Lab04.CSS]
author: Milikely Matuce
created: 13th September 2026
last modified: 13th September 2026
description: CSS Styling for page in Lab04.html
*/

* { /*universal selector*/
    font-family: calibri, sans-serif;
    color: #2f4f4f
}

h1 {
    color: purple;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    color: rgb(0, 128, 128);
    font-weight: bold;
    font-size: 1.5em;
}

aside, footer {
    font-style: italic;
}

h1, h2, h3 { /* All headings selected*/
    font-family: arial, sans-serif;
}

table, th,td {
    border: 1px solid black;
}

#images {
    text-align: center;
}

#HeadingSubHeading {
    color: red;
}

.special {
    color: darkorange;
    font-weight: bold;
}

.MonthHeadings {
    text-align: right;
}

nav a { /*navigation links*/
    text-decoration: none;
    padding: 0.2em 0.6em;
    border: 4px solid #ccc;
}

ol ul { /*unordered lists nested within ordered lists*/
    list-style-type: square;
}

aside:hover { 
    display: none; /*makes element invisible when mouse hovers over it*/
}

nav a:hover {
    background-color: lightblue;
    border-color: darkblue;
}